@model ApkaTa.Models.AktywnośćUserModel

<html lang="pl">


	<link rel="stylesheet" href="/css/Detalies.css" />
	<script src="https://kit.fontawesome.com/37dde7df60.js" crossorigin="anonymous"></script>

<body>

	<div id="container">

		<div class="navbar">
			<li>
				<h2>Aktywni Fizycznie </h2>
			</li>
			<ul>
				<li>Witaj @ViewBag.Nick  <i class="fa-solid fa-user"></i></li>
			</ul>
		</div>
		<div class="PanelBoczny">

			<ul>
				<li>
					<a asp-action="Index">
						<i class="fa-solid fa-house-user"></i><span class="item">Home Page</span>
					</a>
				</li>
				<li><a asp-action="Profil"><i class="fas fa-user"></i><span class="item">Profil</span></a></li>
				<li><a asp-action="Index"><i class="fa-solid fa-person-running"></i><span class="item">Aktywność</span></a></li>
				<li><a asp-action="Ustawienia"><i class="fa-solid fa-gears"></i><span class="item">Ustawienia</span></a></li>
				<li><a asp-action="Wpisy"><i class="fa-sharp fa-solid fa-blog"></i><span class="item">Wpisy</span></a></li>
				<li><a asp-action="About"><i class="fa-solid fa-circle-info"></i><span class="item">O nas</span></a></li>
				<li><a class="Wyloguj" asp-action="Wyloguj"><i class="fa-solid fa-right-from-bracket"></i><span class="item">Wyloguj</span></a></li>
			</ul>

		</div>
		<div class="main">
			<div class="Profil">
				<div class="naglowek">
					<img src="/Images/@Model.Obrazek" width="15%" />
					<h2> Bieganie	</h2>
				</div>
				@using (Html.BeginForm("HistoriaUserDetalies", "Aktywność", FormMethod.Get)){
				<div class="formularz">

					<div class="daneTxt">
						<label> Godzina od </label>
						<input type="time" class="inputDane" asp-for="GodzinaOd" value="@Model.GodzinaOd" readonly/>
					</div>

					<div class="daneTxt">
						<label> Godzina do </label>
							<input type="time" class="inputDane" asp-for="GodzinaDo" value="@Model.GodzinaDo" readonly />
					</div>

					<div class="daneTxt">
						<label> Wydarzenie </label>
							<input type="text" class="inputDane" asp-for="Data" value="@Model.Data" readonly />
					</div>

					<div class="daneTxt">
						<label> Miejsce Docelowe </label>
							<input type="text" class="inputDane" asp-for="MiejsceDoc" value="@Model.MiejsceDoc" readonly />
					</div>

					<div class="daneTxt">
						<label> Ilość uczestników </label>
							<input type="text" class="inputDane" asp-for="IlośćMiejsc" value="@Model.IlośćMiejsc" readonly />
					</div>

					<div class="OpisTxt">
						<label> Opis </label>
							<textarea class="Opis" rows=4 asp-for="Opis" readonly> @Model.Opis </textarea>
					</div>


				</div>
					
			
				<div class="btnRej">
					<input type="submit" value="Wróć!" asp-action="Index" asp-controller="Home" />
				</div>
			}
			</div>
		</div>






	</div>


</body>







